<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <input type="text" [(ngModel)]="name">
        <p>{{name}}</p>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let number of numbers">
          {{ number }}
        </li>
      </ul>
      <p appBasicHighlight>This is using BASIC directive usage!</p>
      <p appBetterHighlight [defaultColor]="'lightblue'" [highlightColor]="'lightgreen'">This is using BETTER directive usage!</p>
    </div>
  </div>
</div>
